

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

html,
  


* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #dde3fb;
    display: grid;
    place-items: center;
    height: 100%
    width : auto;

}

.row @media (max-width: 1200px){


}

.row @media (min-width: 576px){


}


.card {
    background-color: #222222;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif
}

.fa {
    color: #d9d5d5
}

#inp1 {
    background-color: #222222;
    border: 1px solid #636161;
    font-size: 0.75rem
}

#inp1:focus {
    outline: none;
    box-shadow: none
}

.btn {
    background-color: #5c72d8;
    font-size: 0.78rem;
    border: 0px
}

.btn:focus {
    outline: none;
    box-shadow: none
}

*:focus {
    outline: none
}

@charset "UTF-8";
.col-lg-6 p {
  font-size: 20px;
  font-family: ‘tahoma’;
  font-weight: bold; }


.link{
  justify-content: center;
  text-align: center;
  align-content: center;
}

.mock{
  transition: all 1s;
  animation-timing-function: ease;
}
.mock:hover{
  transition: all 1s;
  animation-timing-function: ease;
  transform: rotate(25deg);
}
.img{
  width: auto;
  transition: all 1s;
  animation-timing-function: ease;
}

.img:hover{
  width: 50%;
  height: auto;
  background: linear-gradient(#e66465, lightblue);
  text-align: left;
  animation-timing-function: ease;
  
}

body h1 {
  font-size: 4em;
  font-weight: bold; }

body h2 {
  font-size: 3em;
  font-weight: normal; }

.col-lg-6 h1 {
  color: blue; }

.background {
  color: celeste; }

.texto {
  background: lightblue; }
  .texto__encabezado {
    color: amarillo; }
  .texto__parrafo {
    font-size: 20px;
    padding: 50px; }

.col-lg-6 p {
  font-size: 20px;
  font-family: ‘tahoma’;
  font-weight: bold; }

body h1 {
  font-size: 4em;
  font-weight: bold; }

body h2 {
  font-size: 3em;
  font-weight: normal; }

.col-lg-6 p {
  font-size: 20px;
  font-family: ‘tahoma’;
  font-weight: bold; }

body h1 {
  font-size: 4em;
  font-weight: bold; }

body h2 {
  font-size: 3em;
  font-weight: normal; }

.col-lg-6 h1 {
  color: blue; }

.background {
  color: celeste; }

.texto {
  background: lightblue; }
  .texto__encabezado {
    color: amarillo; }
  .texto__parrafo {
    font-size: 20px; }

.col-lg-12, .col-xs-12, .col-lg-4, .container-fluid, .row {
  padding: 20;
  margin: 20; }

.nav-link {
  color: black !important;
  padding-right:20px;
  border: 30px;
  justify-content: center; 
  text-align: center; 
  width: auto; 
   }



li {
  
  padding-right: 100px;
  max-width: auto;
}

li nav{
  border: 30px;
  justify-content: center; 
  text-align: center;  

}
li:hover {
  background-color: violet;
  color:white;
}


.navbar {
  border-radius: 15px;

  width: auto;
  position: static;
  width: auto;
  top: 50px;
  z-index: 9999;
  border-top: 10px;
  background-color: lightblue; }

.col-lg-6 p {
  font-size: 20px;
  align-content: center;
  font-family: ‘tahoma’;
  font-weight: bold; }

body h1 {
  font-size: 4em;
  font-weight: bold; }

body h2 {
  font-size: 3em;
  font-weight: normal; }

h3{
  align-content: center;
  padding: 20px;
}
.version{
  padding: 20px;
  list-style: none;
  text-align: center;
  justify-content: center;
  color: blue;
}
ul{
  padding: 20px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.col-lg-6 h1 {
  color: blue; }

.background {
  color: celeste; }

.texto {
  background: lightblue; }
  .texto__encabezado {
    color: amarillo; }
  .texto__parrafo {
    font-size: 20px; }

.main {
  background-color: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%); }
  .main__row {
    width: 100%;
    padding: 30px;
    text-align: center; }

.header {
  background-color: lightblue; }

.Img {
  justify-content: center;
  width: 300px; }

.titulo {
  text-align: center;
  padding: 50px 0; }
  @media only screen and (min-width: 768px) {
    .titulo__principal {
      font-size: 35px;
      font-weight: bold; } }
  @media only screen and (max-width: 1024px) {
    .titulo__principal {
      font-size: 50px;
      font-weight: bold; } }
  .titulo__principal--color {
    color: blue; }

.pa-0 {
  padding: 0px; }

.pa-5 {
  padding: 5px; }

.pt-0 {
  padding-top: 0px; }

.pt-5 {
  padding-top: 5px; }

.col-50 {
  width: 50%; }

body h1 {
  font-size: 4em;
  font-weight: bold; }

body h2 {
  font-size: 3em;
  font-weight: normal; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px 1px;
  text-align: center;
  justify-content: stretch;
  font-size: 1.5rem;
  grid-template-areas: "mock listaDescarga mocks"; }

.mock {
  grid-area: mock;
  justify-content: center;
  text-align: center;
  
padding-right: 10px;}

.SO{
  fill:30px blue;
}

  .mocks {
  grid-area: mocks;
  border-radius: 15px;
 }

.listaDescarga {
  grid-area: listaDescarga;
  background-color: grey;
  color: white;
  justify-content: center;
  text-align: center;
  list-style: none; }

.btn--1 {
  background-color: #DAF7A6; }

.btn--2 {
  background-color: #FF5733; }

.btn--3 {
  background-color: #C70039; }

.btn--4 {
  background-color: #900C3F; }

.btn--5 {
  background-color: #FFC300; }

.btn--comentarios {
  background-color: #FF5733;
  justify-content: center; }

.btn--privacidad {
  background-color: #33E6FF; }

.btn--condiciones {
  background-color: #AC33FF; }

  h5{
    padding-top: 60px;
  }
  h6{
    color: grey;
  }

p {
  }

a {
  fill: 20px blue; 
  padding: 80px;
  }

  .gridPadreTestimonios{
  display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: auto auto auto; */
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-areas: 
    "header"
    "nav"
    "section3"
  "footer";

}
.section3{
  grid-template-areas: section3;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto ;
  grid-template-areas: 
  "tituloReseña"
    "profile1 reseña"
    "reseña2 profile2"
  
  

}

h2
{
  margin: 50px;
  padding: 20px;
}
h3{

  margin: 50px;
}
h4{

  margin: 50px;

}

.gridPadreUX{
    
    
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    /* grid-template-rows: auto auto auto; */
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-areas: 
    "header"
    "nav"
    "section5"
    "footer";
}
.section5{
  grid-template-areas: section5;
  display: grid;
  padding: 60px;
  justify-content: center;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "reporte"
}


  .gridPadreContacto{
    justify-content: 
    padding: 200px;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: auto auto auto; */
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-areas: 
    "header"
    "nav"
    "section4"
    "footer";
}
}
}
}

}
.section4{
  grid-template-areas: section4;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "mapa newsletter"
 
}


  .mapa {
  grid-area: mapa; }

  .newsletter {
  grid-area: newsletter;
  justify-content: center;
  text-align: center;

   }



h1{
  padding: 40px;
}

.footer{
  justify-content: center;
  text-align: center;
  width: 100%;
}

.reseña{
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.reseña2{
  justify-content: center;
  text-align: center;
  padding: 40px;
}
.profile1{
  justify-content: center;
  text-align: center;
  padding: 40px;
  }

  .profile2{
  justify-content: center;
  text-align: center;
  padding: 40px;
  }

  .contacto{
     justify-content: center;
  text-align: center;
  padding: 40px
  background-color: grey;
  }



